* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-staatliches: 'Staatliches', cursive;
  --ff-palanquin: 'Palanquin', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --bg-body: hsl(233, 100%, 97%);
  --bg-header: hsl(218, 17%, 62%);
  --bg-title-header: hsl(275, 18%, 79%);
  --fc-body-text: hsl(274, 84%, 12%);
  --bg-title-card: hsl(312, 91%, 96%);
  --fc-title-card: hsl(232, 17%, 35%);
}

body {
  font: 1.6rem var(--ff-palanquin);
  text-align: center;

  background: var(--bg-body);

  width: 100%;
  max-width: 38.4rem;
  margin: 0 auto;
}

header {
  position: relative;
  padding: 3.2rem 0 2.9rem;
}

header::before {
  content: '';
  display: block;
  width: 100%;
  height: 27.9rem;
  background: var(--bg-header);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header img {
  width: auto;
  height: 13.7rem;
  object-fit: cover;
}

header h1 {
  color: white;
  background: var(--bg-title-header);

  font: 4rem var(--ff-staatliches);
  letter-spacing: 0.05em;
  line-height: 3.4rem;
  text-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.25);

  margin-top: 3.2rem;
  padding: 0.8rem 0 0.7rem;
}

header p span {
  display: none;
}

main {
  padding: 0 3.2rem;
}

p {
  color: var(--fc-body-text);

  font-size: 1.6rem;
  line-height: 1.5rem;

  max-width: 30.5rem;
  margin: 4.3rem auto 6.3rem;
}

div.card-container {
  margin: 0 auto 6rem auto;

  display: grid;
  align-items: center;
  gap: 3.2rem;
}

.card {
  position: relative;
  width: 100%;
  max-width: 32rem;

  animation: downtop 500ms ease-out;
}

.card span {
  display: none;
}

.card:nth-child(odd) {
  height: 25rem;
}

.card:nth-child(even) {
  height: 45rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  display: inline;

  color: var(--fc-title-card);
  font: 2rem var(--ff-staatliches);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  background: var(--bg-title-card);
  border-radius: 4rem;
  padding-inline: 2.4rem;
  opacity: 0;

  animation: topdown 300ms ease-out 300ms forwards;
}

.card:nth-child(2),
.card:nth-child(5) {
  display: none;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 100%;
    height: 100vh;
  }

  .page {
    display: grid;
    grid-template-areas: 'A B B'
                         'A B B'
                         'A C C';
    grid-template-columns: 1fr 3fr;
  }

  header {
    font-size: 4.8rem;
    grid-area: A;
    height: 100vh;
  }

  header::before {
    height: 100%;
  }

  header p {
    color: white;
    font: 1.6rem var(--ff-roboto);
    margin: 3.2rem auto 0;
    line-height: 2rem;
    width: 27.5rem;
  }

  header p span {
    display: inline;
  }

  main {
    grid-area: B;
    padding-top: 3.4rem;
  }

  .card-container {
    grid-template-areas: 'A B C'
                         'D B E'
                         'D F E';
    grid-template-columns: 22rem 22rem 22rem;
    justify-content: center;
  }

  .card span {
    display: none;
  }

  .card:nth-child(odd) {
    height: 15rem;
  }
  
  .card:nth-child(even) {
    height: 35rem;
  }

  .card:nth-child(2),
  .card:nth-child(5) {
    display: block;
  }

  .card:nth-child(1) { grid-area: A; }
  .card:nth-child(2) { grid-area: D; }
  .card:nth-child(3) { grid-area: F; }
  .card:nth-child(4) { grid-area: B; }
  .card:nth-child(5) { grid-area: C; }
  .card:nth-child(6) { grid-area: E; }

  footer {
    grid-area: C;
  }
}